
.up-slide,
.slide-from-left,
.slide-from-right {
  opacity: 0;
  transition: opacity 0.8s cubic-bezier(0.26, 0.51, 0.58, 1),
              transform 0.8s cubic-bezier(0.26, 0.51, 0.58, 1);
}

.observer-container.is-visible .up-slide {
  opacity: 1;
  transform: translateY(0);
}

.up-slide {
  transform: translateY(80px);
}

.observer-container.is-visible .slide-from-left {
  opacity: 1;
  transform: translate(0, 0);
}

.slide-from-left {
  transform: translate(-80px, 80px);
}

.observer-container.is-visible .slide-from-right {
  opacity: 1;
  transform: translate(0, 0);
}

.slide-from-right {
  transform: translate(80px, 80px);
}

.observer-container.is-visible .down-under-slide {
  opacity: 1;
  transform: translateY(0);
}

.down-under-slide {
  transform: translateY(-130px);
  opacity: 0;
  transition: all 1.5s ease;
}

